@font-face {
    font-family: 'cinali_icons';
    src: url('../fonts/cinali_icons.eot?z2xdyu');
    src: url('../fonts/cinali_icons.eot?z2xdyu#iefix') format('embedded-opentype'),
        url('../fonts/cinali_icons.ttf?z2xdyu') format('truetype'),
        url('../fonts/cinali_icons.woff?z2xdyu') format('woff'),
        url('../fonts/cinali_icons.svg?z2xdyu#cinali_icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i.cicon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cinali_icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-film:before {
    content: "\e900";
}

.icon-konser:before {
    content: "\e901";
}

.icon-kutuphane:before {
    content: "\e902";
}

.icon-muze:before {
    content: "\e903";
}

.icon-soylesi:before {
    content: "\e904";
}