@font-face {
    font-family: 'CinAli';
    src: url('../fonts/cinali.eot');
    src: url('../fonts/cinali.eot') format('embedded-opentype'), url('../fonts/cinali.woff2') format('woff2'), url('../fonts/cinali.woff') format('woff'), url('../fonts/cinali.ttf') format('truetype'), url('../fonts/cinali.svg') format('svg');
}

body {
    font-family: "CinAli", Roboto, Tahoma;
    overflow-x: hidden;
    font-size: 16px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

a[id] {
    position: absolute;
    left: 0px;
    top: -70px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
    outline-offset: 0;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: unset;
    font-size: 14px;
    color: #666666;
}

.breadcrumb a {
    color: #666666;
}

.breadcrumb>li+li:before {
    padding: 0 3px;
    color: #666666;
    content: ">\00a0";
}

.breadcrumbSeperator {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.contentHeader {
    margin-bottom: 20px;
}

.galeryHeader {
    padding: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.eventTopHeader {
    margin: 0;
    margin-left: -15px;
    padding: 15px 30px 10px 15px;
    display: inline-block;
    background-color: #FFF;
}

.eventTopHeaderDate {
    margin: 0;
    padding: 15px 30px 10px 30px;
    display: inline-block;
    color: #fff;
}

.eventHeader {
    margin-top: 0;
    margin-bottom: 20px;
}

.etkinlikSeperator {
    width: 100%;
    border-bottom: 6px solid #FFD204;
    border-top: 6px solid #FFD204;
    margin-bottom: 20px;
    margin-top: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

/* Top Button */
#topBtn {
    display: inline-block;
    background-color: #FFF;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 18px;
    margin: 30px;
    position: fixed !important;
    bottom: 2px;
    right: 2px;
    transition: background-color .3s;
    z-index: 1000;
    border: 1px solid #000;
    position: absolute;
    left: unset;
    top: unset;
}

#topBtn:hover {
    cursor: pointer;
    background-color: #FDD545;
    text-decoration: none;
}

#topBtn:active {
    background-color: #FDD545;
}

#topBtn::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000;
}

/* Top Button */


/* Top Slider */
.carousel-indicators li {
    cursor: pointer;
    width: 24px;
    height: 8px;
    display: inline-block;
    border: 1px solid #333;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.carousel-indicators .active {
    width: 24px;
    height: 8px;
    margin: 0;
    background-color: #3db0dc;
}

.carousel-control {
    top: 45%;
    bottom: unset;
    width: 24px;
}

.carousel-control.left {
    background-image: none;
    background-repeat: no-repeat;
    left: 50px;
}

.carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
    right: 50px;
}

.slider-prev {
    float: left;
    width: 24px;
    height: 42px;
    background: url(../images/arrows.png) 0 50% !important;
    background-repeat: no-repeat !important;
    color: rgba(0, 0, 0, 0) !important;
    cursor: pointer;
    border: none;
}

.slider-next {
    float: right;
    width: 24px;
    height: 42px;
    background: url(../images/arrows.png) -30px 50% !important;
    background-repeat: no-repeat !important;
    color: rgba(0, 0, 0, 0) !important;
    cursor: pointer;
    border: none;
}

/* Top Slider */

.form-control:focus,
.btn:focus,
.btn:active,
button.owl-dot,
button.owl-dot:focus,
button.owl-next,
button.owl-next:focus,
button.owl-prev,
button.owl-prev:focus,
button.slider-prev,
button.slider-prev:focus,
button.slider-next,
button.slider-next:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.padding-0 {
    padding: 0 !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.margin-0 {
    margin: 0 !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.navbar-default {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
}

.navbar-left {
    height: 35px;
    width: 100px;
    position: absolute;
    left: 0;
}

.navbar-left>span {
    background-color: red;
    height: 35px;
    width: 35px;
    padding-right: 15px;
}

.account-btn-group {
    float: left;
    padding-top: 10px;
}

.account-menu {
    display: none;
    padding: 0;
    background-color: #F8F8F8;
    margin-top: 5px;
}

.account-menu>li {
    list-style: none;
    padding: 5px;
}

.account-btn-group:hover .account-menu {
    display: block;
}

.account-btn-group>.account-btn,
.account-btn-group>.account-name,
.account-menu>li>.account-btn {
    color: #aaa !important;
    padding-right: 25px;
}

.account-btn-group>.account-name {
    font-weight: bold;
    text-transform: uppercase;
}

.basket-btn {
    color: #FFD234 !important;
}

.basket-btn:before {
    font: normal;
    font-size: 100%;
    content: "";
}

.basket-btn {
    margin-left: 7px;
}

.basket-btn>.fa-2x {}

.many_product {
    position: absolute;
    top: -5px;
    margin-left: 5px;
    text-align: center;
    padding: 4px;
    font-size: 10px;
    background-color: #806758;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
}

.navbar-default>.container-fluid {}

.navbar-header {
    position: relative;
    width: 100%;
    display: flex;
    height: 150px;
}

.navbar-right {
    margin-right: 0;
    position: absolute;
    right: 20px;
    top: 10px;
}

.navbar-brand {
    margin: 45px auto !important;
    display: inline-block;
    width: 340px;
    height: 60px;
    padding: 0;
}

.main-fix-menu {
    width: 100%;
    border-bottom: 6px solid #FFD204;
    border-top: 6px solid #FFD204;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.navbar-nav>li {
    float: none;
    display: inline-block;
    cursor: pointer;
    *display: inline;
    /* ie7 fix */
    *zoom: 1;
    /* hasLayout ie7 trigger */
    vertical-align: top;
}

.navbar-nav>li>a {
    font-size: 20px;
    color: #000 !important;
    line-height: 30px;
}

.navbar-nav>li.in_site {
    background-color: #FFD234;
}

.navbar-nav>li.in_site:after {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: calc((100% - 22px)/2);
    content: '';
    width: 0;
    height: 0;
    border-top: solid 15px #fff;
    border-left: solid 11px transparent;
    border-right: solid 11px transparent;
}

.navbar-nav>li:hover,
.navbar-default .navbar-nav>li.dropdown:hover>a,
.navbar-default .navbar-nav>li.dropdown:hover>a:hover,
.navbar-default .navbar-nav>li.dropdown:hover>a:focus {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #FFD234;
}

li.dropdown>.dropdown-menu {
    border: 0;
    background: #FFD234;
}

li.dropdown:hover>.dropdown-menu {
    display: block;
}

li.dropdown>.dropdown-menu>li>a:hover {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #fff;
}

.dropdown-menu>li>a {
    color: #000;
}

.page-menu {
    width: 100%;
    background-color: #aaa;
}

.navbar-nav-under>li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    *zoom: 1;
    /* hasLayout ie7 trigger */
    vertical-align: top;
}

.navbar-nav-under>li>a {
    font-size: 14px;
    color: #fff !important;
}

.navbar-nav-under>li:hover {
    background-color: #574c3c;
}

.galeridesc {
    position: absolute;
    bottom: 13px;
    margin-left: 3px;
    padding: 40px 10px 10px 10px;
    width: calc(100% - 36px);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    color: #000;
}

.footer-main {
    width: 100%;
    background-color: #FFD234;
}

.footer-main>.container>.row {
    margin-bottom: 20px;
}

.footer-main .foot-menu>.col-sm-4 {
    margin-top: 20px;
    border-left: 1px solid #F2CC2E;
}

.footer-main .foot-menu>.col-sm-4>ul {
    margin: 0;
    padding: 0;
}

.footer-main .foot-menu>.col-sm-4>ul>li {
    list-style: none;
    line-height: 10px;
    padding: .6em 0;
}

.footer-main .foot-menu>.col-sm-4>ul>li>a {
    font-size: 11px;
    color: #545454;
}

.footer-main .foot-menu>.col-sm-4>h4>a {
    color: #545454;
}

/*home*/
.home-banner {}

.home-banner img {
    position: absolute;
}

.home-main {
    background-image: url('../images/tanitim_back.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.home-main>div {
    height: 100%;
    position: relative;
}

.home-main .button {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;

    color: #fff;
    font-style: none;
    text-align: center;

    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.home-main .button>span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    left: 0;
    cursor: pointer;
    background-color: #fff;
    text-decoration: none;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-backface-visibility: hidden;
    /*for a smooth font */
}

.home-main .button:hover span {
    opacity: 1;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.home-main .red {
    left: 15.5%;
    bottom: 33%;
    background-color: #D40B2F;
}

.home-main .red>span {
    color: #D40B2F;
}

.home-main .orange {
    left: 30%;
    bottom: 48%;
    background-color: #FC8425;
}

.home-main .orange>span {
    color: #FC8425;
}

.home-main .green {
    left: 31%;
    bottom: 8%;
    background-color: #64AC49;
}

.home-main .green>span {
    color: #64AC49;
}

.home-main .purple {
    left: 45%;
    bottom: 20%;
    background-color: #7E2335;
}

.home-main .purple>span {
    color: #7E2335;
}

.home-main .blue {
    left: 67%;
    bottom: 40%;
    background-color: #3DB0DC;
}

.home-main .blue>span {
    color: #3DB0DC;
}

.home-main .yellow {
    left: 64.5%;
    bottom: 2%;
    background-color: #FFD234;
}

.home-main .yellow>span {
    color: #FFD234;
}

.ara-menu {}

.ara-menu h3 {
    padding: 10px 0;
    margin: 10px 0;
    font-size: 20px;
}

.ara-menu a {
    text-decoration: none;
    color: #000;
}

.ara-menu a:hover h3 {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-backface-visibility: hidden;
    background-color: #FFD234;
}

.ara-menu .ara-menu-col {
    border-left: 2px solid #FFD204;
    border-right: 2px solid #FFD204;
    text-align: center;
}

.ara-menu .ara-menu-col:last-child {
    border: 0;
}

.ara-menu .ara-menu-col:first-child {
    border: 0;
}

.cark_back {
    width: 100%;
    height: 130px;
    background-image: url('../images/animation/cark_back.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.cark {
    position: absolute;
    left: 18.3%;
    width: 22%;
    padding-top: 22%;
    background-image: url('../images/animation/cark.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.cark_image {
    position: absolute;
    right: 0;
    height: 130px;
}

.green-pattern {
    position: relative;
    height: 160px;
}

.green-pattern:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #fffbe5;
    z-index: -10;
}

.green-pattern .row {
    position: relative;
}

.topac_back {
    width: 100%;
    height: 160px;
    position: relative;
    background-image: url('../images/animation/topac_back.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.topac {
    position: absolute;
    left: 44%;
    width: 5%;
    padding-top: 5%;
    background-image: url('../images/animation/topac.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.at_araba {
    width: 100%;
    height: 72px;
    background-image: url(../images/at_araba.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.blue-pattern {
    min-height: 580px;
    background-image: url('../images/pattern/blue.png');
    background-repeat: repeat-x;
    background-position: bottom center;
}

.owl-theme {
    padding: 0;
}

.owl-theme .item>p {
    margin: 10px;
}

.owl-theme .item>h5.event-header {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
}

.owl-theme .item>h5.event-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 -15px;
    padding: 10px 25px;
}

.owl-theme .owl-nav {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 45%;
    height: 42px;
    left: 0;
}

.owl-theme .owl-nav>.owl-prev {
    float: left;
    width: 24px;
    height: 100%;
    background: url('../images/arrows.png') 0 0 !important;
    background-repeat: no-repeat !important;
    color: rgba(0, 0, 0, 0) !important;
    cursor: pointer;
}

.owl-theme .owl-nav>.owl-next {
    float: right;
    width: 24px;
    height: 100%;
    background: url('../images/arrows.png') -30px 0 !important;
    background-repeat: no-repeat !important;
    color: rgba(0, 0, 0, 0) !important;
    cursor: pointer;
}

.owl-theme .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.owl-theme .owl-dots>.owl-dot {
    padding: 0 5px !important;
    display: inline-block;
    margin: 0 auto;
}

.owl-theme .owl-dots>.owl-dot>span {
    cursor: pointer;
    width: 10px;
    height: 10px;
    -ms-transform: rotate(45deg);
    /* -webkit-transform: rotate(45deg); */
    /* transform: rotate(45deg); */
    display: inline-block;
    border: 1px solid #000;
    border-radius: 6px;
}

.owl-theme .owl-dots>.owl-dot.active span {
    background-color: #000;
}

/* DÜKKAN */
.hide-animation-tab {
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 500px;
    margin-top: -500px;
    z-index: 0;
}

#animation-tab {
    min-height: 400px;
    z-index: -1;
    position: relative;
}

.tahterevalli_back {
    height: 400px;
    position: relative;
    background-image: url('../images/animation/tahterevalli_back.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.tahterevalli {
    position: absolute;
    left: 8.1%;
    top: 16%;
    width: 58.7%;
    padding-top: 15.4%;
    background-image: url('../images/animation/tahterevalli.png');
    background-repeat: no-repeat;
    background-size: contain;

    -ms-transform: rotate(15deg);
    /* IE 9 */
    -ms-transform-origin: 56.67% 63%;
    /* IE 9 */
    -webkit-transform: rotate(15deg);
    /* Chrome, Safari, Opera */
    -webkit-transform-origin: 56.67% 63%;
    /* Chrome, Safari, Opera */
    transform: rotate(15deg);
    transform-origin: 56.67% 63%;
}

.head_circle {
    border-radius: 50%;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 30px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 18px;
    background-color: #FDD745;
    color: #fff;
    text-align: center;
}

.kategori_menu {
    padding-left: 0;
    text-align: center;
    width: 100%;
    list-style: none;
}

.kategori_menu>li {
    position: relative;
    float: none;
    display: inline-flex;
    cursor: pointer;
    vertical-align: top;
}

.kategori_menu>li>a {
    font-size: 17.5px;
    padding: 15px 15px 10px 15px;
    color: #FFD234;
    text-decoration: none;
}

.kategori_menu>li:hover {
    background-color: #FFD234;
}

.kategori_menu>li:hover>a {
    color: #000;
}

.owl-theme-store {
    min-height: 400px;
}

.owl-theme-store .item {
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.owl-theme-store .item>img {
    min-height: 363px;
}

.owl-theme-store .item>p {
    margin: 10px;
}

.owl-theme-store .owl-nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 45%;
    height: 42px;
    left: 0;
}

.owl-theme-store .owl-nav>.owl-prev {
    float: left;
    width: 24px;
    height: 100%;
    background: url('../images/arrows.png') 0 0;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.owl-theme-store .owl-nav>.owl-next {
    float: right;
    width: 24px;
    height: 100%;
    background: url('../images/arrows.png') -30px 0;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.yellow-line-pattern {
    height: 10px;
    margin: 150px 0 40px 0;
    background-image: url('../images/pattern/yellow-line.png');
    background-repeat: repeat-x;
    background-position: center center;
    position: relative;
}

.kopek {
    position: absolute;
    top: 0;
    margin-top: -52px;
    right: 10%;
    width: 265px;
    padding-top: 265px;
    background-image: url('../images/kopek.png');
    background-size: contain;
}

.kuyruk {
    position: absolute;
    width: 8%;
    padding-top: 8%;
    background-image: url('../images/animation/kuyruk.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.level-1 {
    padding-left: 0 !important;
}

.level-1 ul {
    padding-left: 10%;
}

.level-1 li a {
    border-bottom: 1px solid #f8f8f8;
    white-space: nowrap;
    padding: 10px 15px;
    display: block;
    color: #555;
}


.level-1>li>a:hover {
    text-decoration: underline;
    color: #555;
}

.level-1>li.active {
    background-color: #f8f8f8;
}

.level-1>li.active>a {
    background-color: #FFD234;
    color: #fff !important;
}

.fiyata-gore {
    height: 150px;
    margin-top: 50px;
}

.fiyata-gore>h2 {
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    float: left;
    padding: 0.5em;
    margin: 0 0 1em 0;
}

.fiyata-gore button {
    float: right;
    width: 75px;
    height: 30px;
    border: 0;
    background-color: #806758;
    color: #fff;
    font-size: 11px;
    padding: 2px 6px;
}

.sort {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    padding: 7px 20px;
    color: #fff;
    float: right;
    height: 35px;
    background-color: #848484;
}

.sort>ul {
    display: -webkit-inline-box;
    padding: 0;
    margin: 0;
}

.sort>ul>li {
    margin-left: 10px;
}

.sort>ul>li>a {
    color: #fff;
}

.urun-list {
    text-align: left;
    padding: 0;
}

.urun-list>li {
    width: 31.6%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    position: relative;
    margin: 1em .3em;
    line-height: 0;
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 320px;
}

.urun-list>li:nth-child(1) {
    background-image: url('../images/slider/4.png');
}

.urun-list>li:nth-child(2) {
    background-image: url('../images/slider/5.png');
}

.urun-list>li>.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    color: #767676;
}

.urun-list>li>.text>p {
    text-align: center;
}

.urun-list>li>.text>span {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
    border-radius: 20px 0 0 20px;
    padding: 15px;
    background-color: #fff;
    color: #FFD234;
    float: left;
}

.urun-list>li>.text>label {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 16px;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    background-color: #FFD234;
    color: #fff;
    float: left;
}

.event-header {
    line-height: 1.4;
}

@media (min-width: 768px) {

    .navbar-nav>li>a {
        font-size: 14px;
    }

    .nav>li>a {
        padding: 10px 6px;
    }

    .footer-main .foot-menu>.col-sm-3>h4 {
        font-size: 1.7vw;
    }

    .footer-main .foot-menu>.col-sm-3 {
        line-height: 1.5em;
    }

    .home-banner {
        height: 75px;
    }

    .home-main {
        height: 269px;
    }

    .home-main .button {
        width: 76px;
        height: 76px;
        line-height: 76px;
        font-size: 10px;
        font-weight: bold;
    }

    .topac {
        bottom: 8%;
    }

    .topac_back {
        background-position: bottom left;
    }

    .at_araba {
        bottom: 49%;
    }

    .tahterevalli {
        width: 58.7%;
        left: 6.2%;
        top: 22%;
    }

    .urun-list>li {
        width: 46.6%;
    }
}

@media (min-width: 992px) {

    .navbar-nav>li>a {
        font-size: 18px;
    }

    .nav>li>a {
        padding: 10px 8px;
    }

    .footer-main .foot-menu>.col-sm-3>h4 {
        font-size: 1.5vw;
    }

    .footer-main .foot-menu>.col-sm-3 {
        line-height: 2em;
    }

    .home-banner {
        height: 80px;
    }

    .home-main {
        height: 348px;
    }

    .home-main .button {
        width: 99px;
        height: 99px;
        line-height: 99px;
        font-size: 12px;
        font-weight: bold;
    }

    .topac {
        bottom: 13%;
    }

    .topac_back {
        background-position: bottom left;
    }

    .at_araba {
        bottom: 54%;
    }

    .tahterevalli {
        width: 62%;
        left: 6.3%;
        top: 20%;
    }

    .kuyruk {
        bottom: 22%;
        left: 24%;
        a
    }

    .urun-list>li {
        width: 47.6%;
    }
}

@media (min-width: 1200px) {

    .navbar-nav>li>a {
        font-size: 20px;
    }

    .nav>li>a {
        padding: 10px 15px;
    }

    .footer-main .foot-menu>.col-sm-3>h4 {
        font-size: 17.5px;
    }

    .footer-main .foot-menu>.col-sm-3 {
        line-height: 2em;
    }

    .home-banner {
        height: 140px;
    }

    .home-main {
        height: 420px;
    }

    .home-main .button {
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 14px;
        font-weight: bold;
    }

    .topac {
        bottom: 15%;
    }

    .at_araba {
        bottom: 60%;
    }

    .tahterevalli {
        width: 58.7%;
        left: 8.1%;
        top: 16%;
    }

    .kuyruk {
        bottom: 22%;
        left: 24%;
    }

    .urun-list>li {
        width: 31.6%;
    }
}

/** DUYURULAR DİV */

.news_panel {
    display: inline-block;
    padding: 10px 10px 0 10px;
    background-color: #F3F3F3;
}

.news_image {
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
}

.news_content h4 {
    font-color: #000000;
}

.news_footer {
    font-size: 12px;
    padding-bottom: 10px;
}

.news_footer>div {
    width: 50%;
    display: inline;
}

.news_footer>div.news_right {
    float: right;
    text-align: right;
}

.news_list_panel {
    display: inline-block;
    padding: 10px 10px 0 10px;
    background-color: #F3F3F3;
}

.news_list_image {
    width: 100%;
    height: 160px;
    background-position: center;
    background-size: cover;
}

.news_list_content h4 {
    font-color: #000000;
}

.news_list_footer {
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.news_list_footer>div {
    width: 50%;
    float: left;
}

.news_list_footer>div.news_list_right {
    text-align: right;
}

a .news_panel,
a .news_list_panel {
    color: #333333;
    text-decoration: none;
}

a .news_panel:hover,
a .news_list_panel:hover {
    background-color: #E9E9E9;
    text-decoration: none;
}

.news_list_panel2 p,
.news_list_panel2 h4,
.news_list_panel2 div {
    color: #333333;
    text-decoration: none;

}

.news_list_panel2 h4 {
    margin-top: 15px;
    margin-bottom: 0;
}

.news_list_panel2 {
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
}

.news_list_panel2:hover {
    background-color: #F3F3F3;
    border: 1px solid #000;
    text-decoration: none;
}

.news_list_panel2 p {
    margin-bottom: 0;
}

.social_media_container {
    width: 45px;
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 10;
}

.social_media_container>a>img {
    width: 40px;
    margin: 3px 0;
}

.svgicon {
    fill: #FEED97;
}

.svgicon:hover {
    fill: #FED630;
}

.social_media_animation {
    display: none;
    position: fixed;
    right: 0;
    top: 40%;
    font-size: 16px;
}

.cboxElement {
    color: #333;
}

.popover {
    width: 250px;
}

.popover-title {
    text-align: center;
}

.popover-content {
    text-align: center;
}





.formorebtn {
    text-align: center;
    display: block;
}

.formorebtn.collapsed:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f196';
}

.formorebtn.collapsed:after {
    content: ' Devamını Göster ';
}

.formorebtn:not(.collapsed):before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f147';
}

.formorebtn:not(.collapsed):after {
    content: ' Gizle ';
}





.search_panel {
    text-align: center;
    color: #000;
}
.search_panel p{
    text-align: center;
    font-size: 16px;
}

.s-search-div {
    display: inline-block;
    -webkit-box-shadow: 0px -5px 0px 0px rgba(221, 177, 0, 1);
    -moz-box-shadow: 0px -5px 0px 0px rgba(221, 177, 0, 1);
    box-shadow: 0px -5px 0px 0px rgba(221, 177, 0, 1);
    border-radius: 10px;
    margin-top: 10px;
}

.s-search {
    background-color: #FFF;
    border-radius: 10px 0 0 10px;
    float: left;
    color: #000;
    width: 500px;
    font-size: 15pt;
    text-align: left;
    padding: 14px 14px 14px 28px;
    border: none;
}
.s-btn {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-image: url('/images/search-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
}



.carousel-caption{
    font-size: 20px;
}

.carousel-control.left {
    background-image: none;
    background-repeat: no-repeat;
    left: 20px;
}

.carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
    right: 20px;
}


.select2-container {
    width: 110px;
}
.select2-results__option {
    /*padding-right: 20px;*/
    vertical-align: middle;
}
.select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 5px;
    vertical-align: middle;
}
.select2-results__option[aria-selected=true]:before {
    font-family:fontAwesome;
    content: "\f00c";
    color: #333;
    background-color: #FFD204;
    border: 0;
    display: inline-block;
    padding-left: 3px;
    font-size: 14px;
}
.select2-container .select2-search--inline .select2-search__field{
    font-size: 16px;
    line-height: 21px;
    margin-top: 8px;
    width: 100% !important;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-input-placeholder {
   text-align: center;
}
.select2-container .select2-search--inline .select2-search__field:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
.select2-container .select2-search--inline .select2-search__field::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}
.select2-container .select2-search--inline .select2-search__field:-ms-input-placeholder {  
   text-align: center; 
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: unset;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: unset;
    color: #272727;
}
.select2-container--default .select2-selection--multiple {
    /*margin-bottom: 10px;*/
    border-radius: 12px;
}
#neredeFilterDiv .select2-container--default .select2-selection--multiple {
    background-color: #f4e8cd;
}
#neFilterDiv .select2-container--default .select2-selection--multiple {
    background-color: #fadee0;
}
#nezamanFilterDiv .select2-container--default .select2-selection--multiple {
    background-color: #d4eff6;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 12px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #999;
    border-width: 2px;
}
.select2-container--default .select2-selection--multiple {
    border-width: 2px;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: unset;
    border: 0;
    margin-top: 8px;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear{
    margin-top: 8px;    
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    /*height: 30px;*/
}
.select2-selection__choice{
    display: none;
}
.select2-selection .select2-selection--multiple:after {
    content: 'hhghgh';
}
/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
    display: none;
}
.select-icon .placeholder {
    display: none;
}
.select-icon .select2-results__option:before,
.select-icon .select2-results__option[aria-selected=true]:before {
    display: none !important;
    /* content: "" !important; */
}
.select-icon  .select2-search--dropdown {
    display: none;
}
.select2-selection__choice__remove{
    display: none !important;
}





.fc-event-container .tooltip-inner {
    background-color: #c5ccd5;
    color: #000;
    text-align: unset;
}
.fc-event-container .tooltip-inner li {
    list-style: none;
}
.fc-event-container .tooltip-arrow{
    border-top-color: #c5ccd5 !important;
}

.fc-toolbar.fc-header-toolbar {
    background-color: #fdd629;
}

.fc-left {
    margin: 0;
    margin-left: -15px;
    padding: 15px 30px 10px 15px;
    display: inline-block;
    background-color: #FFF;
    font-size: 30px;
    line-height: 1.1;
}

.fc-toolbar .fc-center {
    display: flex;
    margin: 0;
    
    padding: 15px 30px 10px 30px;
    font-size: 30px;
    text-align: left;
    line-height: 1.1;
    color: #fff;
}

button.fc-prev-button.btn.btn-default,
button.fc-next-button.btn.btn-default,
button.fc-today-button.btn.btn-default,
button.fc-month-button.btn.btn-default,
button.fc-listMonth-button.btn.btn-default{
    color: #333;
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.1rem;
    height: 58px;
}

button.fc-prev-button.btn.btn-default:hover,
button.fc-next-button.btn.btn-default:hover,
button.fc-today-button.btn.btn-default:hover,
button.fc-month-button.btn.btn-default:hover,
button.fc-listMonth-button.btn.btn-default:hover{
    
    background-color: #e0b700;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

td .fc-past{
    background-color: #e5e6e6;
}

td .fc-today{
    background-color: #ffcf06;
    color: #000;
}


.fc-left:after {
    content: 'Etkinlikler';
}

.fc-event:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #000;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -15px;
}

.fc-event:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    /*border-top-color: #FFF;*/
    border-bottom: 0;
    border-left: 0;
    margin-left: -8px;
    margin-bottom: -10px;
}

.fc-event-past:after{
    border-top-color: #9d9d9c;
}

.fc-event-today:after{
    border-top-color: #FFF;
}

.fc-event-future:after{
    border-top-color: #fecf00;
}

.fc-event, .fc-event:hover {
    color: #000;
    text-decoration: none;
    border-radius: 0;
    border: 2px #000 solid !important;
}

.table-bordered>tbody>tr>td, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th{
    border-color: #a7a9ab;
}

td.fc-event-container {
    padding-bottom: 15px;
}


i.icon-film {
    font-size: 42px;
    line-height: 13px;
    float: right;
    margin: 2px -12px 0px 0px;
}
i.icon-konser {
    font-size: 40px;
    line-height: 13px;
    float: right;
    margin: 2px -12px 0px 0px;
}
i.icon-kutuphane {
    font-size: 42px;
    line-height: 13px;
    float: right;
    margin: 2px -6px 0px 0px;
}
i.icon-muze {
    font-size: 42px;
    line-height: 13px;
    float: right;
    margin: 2px -12px 0px 0px;
}
i.icon-soylesi {
    font-size: 38px;
    line-height: 13px;
    float: right;
    margin: 2px -12px 0px 0px;
}



.popover.bottom>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}
.popover>.arrow:after {
    content: "";
    border-width: 10px;
}
.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: unset;
}


.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    line-break: auto;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border: 2px solid #000;
    width: 210px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #FFF;
    border-bottom: 2px solid #000;
    border-radius: 0;
}

.popover-content {
    padding: 0;
}

.fc-title{

}