.basket-btn {
    color: #66AB4E !important;
}

.main-fix-menu {
    width: 100%;
    border-bottom: 6px solid #66AB4E;
    border-top: 6px solid #66AB4E;
}

.navbar-nav>li>a:hover {
    color: #FFF !important;
}

.navbar-nav>li:hover,
.navbar-default .navbar-nav>li.dropdown:hover>a,
.navbar-default .navbar-nav>li.dropdown:hover>a:hover,
.navbar-default .navbar-nav>li.dropdown:hover>a:focus {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #66AB4E;
}

li.dropdown>.dropdown-menu {
    border: 0;
    background: #66AB4E;
}

.dropdown-menu>li>a {
    color: #FFF;
}

.dropdown-menu>li>a:hover {
    color: #000;
}

.footer-main {
    background-color: #66AB4E;
    color: #FFFFFF;
}

.footer-main .foot-menu>.col-sm-4 {
    margin-top: 20px;
    border-left: 1px solid #5C8D4B;
}

.footer-main .foot-menu>.col-sm-4>ul>li>a {
    font-size: 11px;
    color: #FFFFFF;
}

.footer-main .foot-menu>.col-sm-4>h4>a {
    color: #FFFFFF;
}

.ara-menu a:hover h3 {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-backface-visibility: hidden;
    background-color: #66AB4E;
    color: #FFFFFF;
}

.ara-menu .ara-menu-col {
    border-left: 2px solid #66AB4E;
    border-right: 2px solid #66AB4E;
    text-align: center;
}

.green-pattern:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #eef6ec;
    z-index: -10;
}

.level-1>li.active>a {
    background-color: #66AB4E;
    color: #fff !important;
}