th.fc-day-header {
    padding: .75rem .5rem;
    color: #898b96;
}

td.fc-day-top {
    padding: 0 .5rem;
}

td.fc-event-container {
    padding: 0.2rem .5rem;
}

.fc-content {
    padding: 0.55rem;
}